/* You can add global styles to this file, and also import other style files */

.message {
    &.generating {
        &::after {
            content: '▋';
            animation: fade-cursor ease-in-out 500ms infinite alternate
        }
    }
}

pre {
    width: 30%;
    box-shadow: 3px 4px 10px lightgray;
    border-radius: 30px;
    padding: 1em;
}

.message {
    background-color: lightcoral;

}

.from-user {
    background-color: lightblue;
}

@keyframes fade-cursor {
    from {
        opacity: 25%;
    }

    to {
        opacity: 100%
    }
}